<?xml version="1.0" encoding="utf-8" ?>
<!--
// ******************************************************************************************
// Arroyo Auz Christian Xavier.                                                             *
// 05/08/2016.                                                                              *
// ******************************************************************************************
-->


<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Agregando el archivo app.config del host.-->
  <system.serviceModel>
    <services>
      <service name="ObjetoRemoto.ObjetoRemoto">
        <!-- El servicio utiliza el extremo para los Servicios Capitales-->
        <endpoint address="" binding="basicHttpBinding" contract="ObjetoRemoto.IObjetorRemoto">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!-- El servicio utiliza el extremo para los Servicios Capitales-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/ObjetoRemoto/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!--Obtiene o establece un valor que indica si se debe publicar metadatos de servicio para la recuperación utilizando un HTTP / petición GET-->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!--Obtiene o establece un valor que especifica si se debe incluir información de excepción logrado en el detalle de los errores-->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>